---
import ReactIcon from "./icons/TechIcons/ReactIcon.astro";
import WordPressIcon from "./icons/TechIcons/WordPressIcon.astro";
import LinkButton from "./LinkButton.astro";
import CssIcon from "./icons/TechIcons/CssIcon.astro";
import NodeIcon from "./icons/TechIcons/NodeIcon.astro";
import ExpressIcon from "./icons/TechIcons/ExpressIcon.astro";
import MySqlIcon from "./icons/TechIcons/MySqlIcon.astro";
import SassIcon from "./icons/TechIcons/SassIcon.astro";
import PHPIcon from "./icons/TechIcons/PHPIcon.astro";
import WooCommerceIcon from "./icons/TechIcons/WoocommerceIcon.astro";
import jQueryIcon from "./icons/TechIcons/jQueryIcon.astro";

export const TAGS = {
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#21759B]/40",
    icon: WordPressIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#0C73B8]/40",
    icon: CssIcon,
  },
  SASS: {
    name: "SassCSS",
    class: "bg-[#854264]/30",
    icon: SassIcon,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#00D8FF]/20",
    icon: ReactIcon,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#417935]/40",
    icon: NodeIcon,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[#FFF]/10",
    icon: ExpressIcon,
  },
  MYSQL: {
    name: "MySql",
    class: "bg-[#00546B]/30",
    icon: MySqlIcon,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#FFF]/10",
    icon: PHPIcon,
  },
  WOOCOMMERCE: {
    name: "WooCommerce",
    class: "bg-[#7F54B3]/30",
    icon: WooCommerceIcon,
  },
  JQUERY: {
    name: "JQuery",
    class: "bg-[#fff]/10",
    icon: jQueryIcon,
  },
};

const PROJECTS = [
  {
    title: "Koby Company",
    description:
      "Corporate website for Koby Company, a marketing, graphic design, and web development agency, where I had the pleasure of working for a period of time.",
    link: "https://kobycompany.com/",
    image: "/images/kobyCompany.png",
    tags: [TAGS.WORDPRESS, TAGS.PHP, TAGS.SASS, TAGS.JQUERY],
  },
  {
    title: "Cultural Characterization of Antioquia",
    description:
      `Fullstack development from scratch, the Cultural Characterization of Antioquia web application for the Institute of Culture and Heritage of Antioquia, ProAntioquia, and the University of Antioquia. It features a directory of cultural agents and profiles with summaries organized by subregion and municipality.` ,
    link: "https://caracterizacion.culturantioquia.gov.co/",
    annotation: ' - ON BETA MODE - ',
    image: "/images/caracterizacion.png",
    tags: [TAGS.MYSQL, TAGS.EXPRESS, TAGS.NODE, TAGS.REACT, TAGS.SASS],
  },
  {
    title: "Xtreme Wings",
    description:
      "Website created for a restaurant in the eastern region of Antioquia, with a fully customized WordPress theme according to the client's design.",
    link: "https://xtremewings.com/menu",
    image: "/images/xtremeWings.png",
    tags: [TAGS.WORDPRESS, TAGS.PHP, TAGS.SASS, TAGS.JQUERY],
  },
  {
    title: "Mirarte | Online Store",
    description:
      "Website created for a clothing store in the city of Bucaramanga, with a fully customized WordPress theme according to the client's design. The store is implemented and customized with WooCommerce and integrated with MercadoPago, an online payment platform.",
    link: "https://mirarte.com.co/",
    image: "/images/mirarte.png",
    tags: [TAGS.WORDPRESS, TAGS.WOOCOMMERCE, TAGS.PHP, TAGS.SASS, TAGS.JQUERY],
  },
];
---

<div class="flex flex-col gap-y-16 my-8">
  {
    PROJECTS.map(({ image, title, description, link, tags, annotation }) => (
      <article>
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">
          {title}
          </h3>
          { annotation ? <span class="text-xs font-semibold text-wihte-80"> {annotation} </span> <br> : null }

        <p class="text-lg mb-4 text-pretty">{description}</p>

        <ul class="grid grid-cols-3 gap-x-2 md:flex md:flex-row mb-2 ">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex md:gap-x-2 gap-x-1 rounded-full text-xs ${tag.class} py-1 md:px-4 px-1 mb-2`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

        <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10 aspect-video object-cover"
          src={image}
          alt={`Captura de pantalla de ${title}`}
        />

        <footer class="flex gap-x-4 items-end justify-start mt-4">
          <LinkButton href={link}>Visit Site</LinkButton>
        </footer>
      </article>
    ))
  }
</div>
